<% require 'erb' %>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>Контент</h1>

	<% @posts.each do |d| %>
    <p><%= d[2] %></p>
    <p><%= d[3] %></p>
    <img src="<%= d[4] %>" width="200" heigt="200">
    <hr>
    <% end %>

</body>
</html>
